<div class="row">
  <div class="two columns" style="max-width: 50px;">
    <h1 class="mt-2 mode">
      <!-- <div onclick=setDarkMode(true) id="darkBtn"><%= theme.switch_dark %></div>
      <div onclick=setDarkMode(false) id="lightBtn" class=hidden><%= theme.switch_light %></div> -->
      <div onclick=setDarkMode(true) id="darkBtn">
        <svg t="1677831078600" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="19870" width="24" height="24"><path d="M786.35 462.81m-148.09 0a148.09 148.09 0 1 0 296.18 0 148.09 148.09 0 1 0-296.18 0Z" fill="#FFEA00" p-id="19871"></path><path d="M97.49 593.45c17.14-32.75 34.23-37.55 66.78-18.73 117 67.61 262.68 45 354.08-55C608.55 421 618.17 271 541 161.67c-9.61-13.62-20.12-27.91-10.6-44.12 6-10.3 18.18-17 27.58-25.35h15.67c2.81 1.09 5.52 2.65 8.43 3.2C797.2 136 943.31 328.55 925 547.29c-15.08 179.8-145.36 331-321.39 372.17-23.23 5.43-47.06 8.29-70.61 12.34h-53.31c-4-1-7.89-2.35-11.93-2.84C302.58 908.91 186.88 822 119.44 670.48c-8.81-19.79-14.7-40.88-22-61.36z m108 81.1c44.41 95.94 177.74 202.61 350.39 178.66 160.52-22.27 285.84-157.6 295.83-323.09 10.69-177.1-109.2-300.59-208-336.7 46.14 138.24 28.54 266.05-70.08 375.14-99.22 109.78-225.17 139.82-368.12 105.99z" p-id="19872" data-spm-anchor-id="a313x.7781069.0.i20" class="selected" fill="#13227a"></path></svg>
      </div>
      <div onclick=setDarkMode(false) id="lightBtn" class=hidden>
        <svg t="1677831000417" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="17751" width="24" height="24"><path d="M728.064 573.44a164.864 164.864 0 1 0-164.864 164.864 164.864 164.864 0 0 0 164.864-164.864z" fill="#F4CA1C" p-id="17752"></path><path d="M512.5632 771.584a258.43712 258.43712 0 1 1 258.43712-258.43712A258.72896 258.72896 0 0 1 512.5632 771.584z m0-448.86016a190.42816 190.42816 0 1 0 190.4128 190.40256 190.63808 190.63808 0 0 0-190.4128-190.42304z m1.13664-128.67584a34.00192 34.00192 0 0 1-34.00192-34.00704V95.44704a34.00704 34.00704 0 0 1 68.00896 0V160.0512a34.00704 34.00704 0 0 1-34.00704 33.9968z m0 768.512a34.00192 34.00192 0 0 1-34.00192-34.00192V863.9488a34.00704 34.00704 0 1 1 68.00896 0v64.60928a34.00192 34.00192 0 0 1-34.00704 34.00192z m414.85824-416.55296H863.9488a34.00704 34.00704 0 1 1 0-68.00896h64.60928a34.00704 34.00704 0 0 1 0 68.00896z m-768.512 0H95.44704a34.00704 34.00704 0 0 1 0-68.00896H160.0512a34.00704 34.00704 0 0 1 0 68.00896z m600.81664-248.86784a34.00192 34.00192 0 0 1-24.064-58.04544l45.69088-45.68576a34.00192 34.00192 0 0 1 48.08192 48.08704L784.896 287.1808a33.88416 33.88416 0 0 1-24.03328 9.9584zM217.45152 840.5504a34.00704 34.00704 0 0 1-24.064-58.05568l45.68576-45.68064a34.00704 34.00704 0 1 1 48.10752 48.08192l-45.68576 45.68064a33.91488 33.91488 0 0 1-24.04352 9.97376z m589.10208 0a33.90976 33.90976 0 0 1-24.0384-9.9584l-45.696-45.696a34.00704 34.00704 0 1 1 48.08704-48.09728l45.68576 45.68064a34.00704 34.00704 0 0 1-24.04352 58.07104zM263.13728 297.1392a33.88416 33.88416 0 0 1-24.064-9.96352l-45.68576-45.68576a34.00192 34.00192 0 1 1 48.08704-48.08192L287.1808 239.104a34.00192 34.00192 0 0 1-24.04352 58.0352z" fill="#f4ea2a" p-id="17753" data-spm-anchor-id="a313x.7781069.0.i16" class="selected"></path></svg>
      </div>
      <script>
        if (localStorage.getItem('preferredTheme') == 'dark') {
          setDarkMode(true)
        }
        if (localStorage.getItem('preferredThemeColor')) {
          document.body.setAttribute("theme", localStorage.getItem('preferredThemeColor'));
        }

        function setDarkMode(isDark) {
          var darkBtn = document.getElementById('darkBtn')
          var lightBtn = document.getElementById('lightBtn')
          if (isDark) {
            lightBtn.style.display = "block"
            darkBtn.style.display = "none"
            localStorage.setItem('preferredTheme', 'dark');
          } else {
            lightBtn.style.display = "none"
            darkBtn.style.display = "block"
            localStorage.removeItem('preferredTheme');
          }
          document.body.classList.toggle("darkmode");
        }
      </script>
    </h1>
  </div>

  <div class="ten columns ml-1" style="margin-left: 0;">
    <h1 class="mt-2 page-title">
      <i class="head-icon"><svg t="1679301983710" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="15470" width="32" height="32"><path d="M515.047918 669.858284c21.199835 0 124.676557-81.306794 146.642848-153.324014 10.905374-35.753295 21.126156-117.437689-51.458999-126.996392-72.586179-9.559727-95.183849 65.177442-95.183849 65.177442s-34.764781-86.717014-105.192807-65.177442c-70.425979 21.539572-64.525596 81.216743-49.51881 126.996392C383.821177 588.169797 493.85013 669.858284 515.047918 669.858284zM879.757317 765.829056c52.213175-75.130118 79.727833-162.54912 79.727833-253.844405 0-246.448972-200.723557-446.922842-447.483614-446.922842-246.759033 0-447.487707 200.50457-447.487707 446.950472 0 246.382457 200.728674 446.88805 447.487707 446.924889 71.894424 0 143.075603-17.556864 206.814276-50.857295l164.857698 49.433876c11.787464 3.523243 24.346501 0.321318 32.955576-8.309246 8.611122-8.602935 11.816117-21.24486 8.317433-32.913621L879.757317 765.829056 879.757317 765.829056zM712.387401 870.047676c-61.080124 34.736129-130.387629 53.06252-200.388936 53.06252-225.463008-0.036839-408.909064-184.461175-408.909064-411.090752 0-226.702232 183.446056-411.130661 408.909064-411.130661 225.458915 0 408.91111 184.42843 408.91111 411.090752 0 89.089038-28.338419 172.031075-81.951477 243.948011-6.774287 9.071609-3.225461 17.804505 0 28.66383L881.980961 915.892817l-140.346445-45.846164C732.400201 867.253026 720.827631 865.298512 712.387401 870.047676z" fill="#272636" p-id="15471"></path></svg></i>
      <span><%= theme.title %></span>
    </h1>
  </div>

  <div class="twelve columns">
    <div class="row">
      <div class="nine columns left">
        <a href="<%= config.root %>">Home</a>
        <% for (name in theme.menu) { %>
          <% if (theme.menu[name]) { %>
          <a href="<%- url_for(theme.menu[name]) %>" class="ml"><%- name %></a>
          <% } %>
        <% } %>
        <!--
        <% if (theme.email) { %>
          <% if (typeof obfuscate === "function") { %>
            <a href="mailto:<%- obfuscate(theme.email) %>" target="_blank" class="ml">Email</a>
          <% } else { %>
            <a href="mailto:<%= theme.email %>" target="_blank" class="ml">Email</a>
          <% } %>
        <% } %>
        -->
      </div>
    </div>
    <hr style="margin-bottom: 2.6rem">
  </div>
</div>
